<!DOCTYPE html>
<html lang="ro" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Contemporana</title>
  <link rel="stylesheet" href="stylescontemporane.css" media = "screen and (min-width: 800px)">
  <link rel="stylesheet" href="stylescontemporanemic.css" media="screen and (max-width: 799px)">
  <!--Fonturi-->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&family=Ubuntu:wght@300;400;700&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <img src="images/logo.png" alt="Logo Tudose">
    <nav class="meniu">
      <ul id="meniu">
        <li>
          <div><a href="index2.html">Meniu principal</a></div>
          <ul class="submeniu">
            <li> <a href="index2.html#bun_venit"> Bun venit </a></li>
            <li><a href="index2.html#despre_mine">Despre mine</a></li>
            <li><a href="index2.html#statistici">Statistici</a></li>
            <li><a href="index2.html#goodreads">Profil Goodreads</a></li>
            <li><a href="index2.html#contact">Contact</a></li>
          </ul>
        </li>
        <li>
          <div><a href="contemporane.html">Contemporana</a></div>
          <ul class="submeniu">
            <li><a href="contemporane.html#meniu">De ce?</a></li>
            <li><a href="contemporane.html#star5">5 stele</a></li>
            <li><a href="contemporane.html#star4">4 stele</a></li>
          </ul>
        </li>

        <li>
          <div><a href="clasice.html">*Clasica*</a></div>
          <ul class="submeniu">
            <li><a href="clasice.html#meniu">De ce?</a></li>
            <li><a href="clasice.html#star5">5 stele</a></li>
            <li><a href="clasice.html#star4">4 stele</a></li>
            <li><a href="clasice.html#star3">3 stele</a></li>
            <li><a href="clasice.html#star2">2 stele</a></li>
            <li><a href="clasice.html#star1">1 stea</a></li>
          </ul>
        </li>
        <li>
          <div>Non-Fictiune</div>
          <ul class="submeniu">
            <li>De ce?</li>
            <li>1 stea</li>
            <li>2 stele</li>
            <li>3 stele</li>
            <li>4 stele</li>
            <li>5 stele</li>
          </ul>
        </li>
      </ul>
    </nav>

    <div class="textintrocontemp">
      <h1>De ce ar trebui sa citesti literatura contemporana?</h1>
      <p>Deși nu aduce o contribuție intelectuală prea intensă, fiind scrisă pentru publicul larg, neistruit,
        literatura contemporana furnizează un mijloc eficient de antrenare al inteligenței lingivistice, lipsit
        de riscul epuizarii cerebrale. In ceea ce presupune recreerea, ea presupune o alternativa productiva
        la cufundarea in divertisment superficial, ideala pentru momentele de epuizare de la finalul zilei.
        In culturism, echivalentul lecturii contemporane este reprezentat de exercitiile usoare, ce succeda
        un antrenament intens, menite sa grăbească disparitia febrei musculare.
      </p>
    </div>
  </header>
  <div class="divBtnApl">
    <h3>Creeaza-ti propria lista de recenzii! Dupa initializarea aplicatiei,
    apasa pe un titlu din lista de mai jos
    pentru a-l adauga la propria colectie, apoi apasa pe butonul "Generaza colectie!",
    pentru a o genera si accesa!</h3>
    <button type="button" name="button" id = "startApl">Initializeaza aplicatia!</button>
    <button type="button" name="button" id = 'btnGenerare'> Generarea selectiei</button>
    <br><br><br>
    <h3>Puteti apasa pe acest buton pentru a sterge elemente din pagina unul cate unul, in caz ca ati prefera
    sa nu vedeti opinia mea amatoare despre anumite volume.</h3>
    <button type="button" name="button" id = "btnStergere">Sterge-mi recenziile!</button>
  </div>
  <section>
    <div id="star5">
      <div class="recenzie">
        <img src="images/disparutii.jpg" alt="disparutii pic">
        <h1>Disparutii (vol 1, 2 si 3)</h1>
        <h2>Michael Grant</h2>
        <h3>⭐⭐⭐⭐⭐</h3>
        <p>O lectura care mi-a fascinat mintea de prescolar prin ceea ce mi parea la vremea respectiva originalitate, dar era rezultatul evident al inspirarii din numeroase surse ale vremii curente.
          Acum, student fiind, pot spune ca isi atinge cu dezavarsire scopul de impresiona cititorii prin lovituri de teatru din ce in ce mai diverse, fiind un epitom reprezentativ al literaturii
          SF pentru adolescenti, avand in egala masura elemente de mister, romanta fecioreasca, supernatural, transpuse prin personale realiste, dar inspirationale, fructificand teme recurente ale contemporaneitatii.


      </div>


      <div class="recenzie">
        <img src="images/hg.jpg" alt="jocurile foamei pic">
        <h1>Jocurile foamei (vol 1, 2 si 3)</h1>
        <h2>Suzanne Collins</h2>
        <h3>⭐⭐⭐⭐⭐</h3>
        <p>O trilogie care, desi contemporana, s-ar fi putut inregistra cu usurinta in categoria marilor clasici. Collins reuseste sa faca numeroase teme literare avansate accesibil pentru marile mase,
          portretizand o critica in stil Orwelian dintr-o perspectiva adolescentina de o maturitate covarsitoare, justificata de conditiile aprige in care au evoluat personajele centrale ale operei.</p>
      </div>

      <div class="recenzie">
        <img src="images/vals.jpg" alt="invitatia la vals pic">
        <h1>Invitatia la vals</h1>
        <h2>Mihail Drumes</h2>
        <h3>⭐⭐⭐⭐⭐</h3>
        <p>Desi Mihail Drumes nu este tocmai un autor contemporan, voi include aici volumele sale reprezentative, din pricina primirii sale negative din partea criticii literare a vremii respective.
          Desi o opinie controversata, in randul elitelor romanesti, propun ideea ca Invitatia la vals, alaturi de celelalte 3 mari realizari ale lui Drumes, au adus una dintre cele mai mari contributii
          ale literaturii romanesti. Intr-o epoca in care cititul in Romania era o activitate care lasa de dorit in ochii publicului obisnuit, Drumes a reusit sa o popularizeze, fiind cel mai vandut
          scriitor al vremii sale. Invitatia la vals, desi la nivel intelectual nu e una dintre cele mai reusite lucrari ale sale, reuseste sa indeplineasca exact acest obiectiv, fiind cel mai adorat roman al Romaniei interbelice.</p>

      </div>

      <div class="recenzie">
        <img src="images/dima.jpg" alt="elevul dima pic">
        <h1>Elevul Dima dintr-a 7-a</h1>
        <h2>Mihail Drumes</h2>
        <h3>⭐⭐⭐⭐⭐</h3>
        <p>Cea mai completa lucrare a lui Drumes, incluzand atat elemente de aventura, tragismul specific, nostalgia din vremurile adolescentei si vointa deosebita a figurilor centrale ce se transpune in
          omnipotenta.</p>

      </div>

      <div class="recenzie">
        <img src="images/scrisoare.jpg" alt="scrisoare de dragoste jpeg">
        <h1>Scrisoare de dragoste</h1>
        <h2>Mihail Drumes</h2>
        <h3>⭐⭐⭐⭐⭐</h3>
        <p>Desi nu la fel de populara ca celelalte doua, "Scrisoare de dragoste" una dintre operele literare care au avut un impact deosebit in propria-mi dezvoltare. Inspirata in mod evident din Ion, de la pana la cele mai mici
          particularitati tematice, pana la literalmente intreg firul narativ, dar transpus intr-o maniera mai citadina, volumul ofera un suflu mai digerabil prozei clasice din Romania, demonstrand ca pasiunea pentru obiectul
          muncii si dorinta de satisfacere a receptorilor (ceea ce Rebreanu a omis) sunt pietrele de temelie ale literaturii de succes.</p>

      </div>

      <div class="recenzie">
        <img src="images/ramona.jpg" alt="suge-o ramona pic">
        <h1>Suge-o Ramona (vol 1 si 2)</h1>
        <h2>Andrei Ciobanu</h2>
        <h3>⭐⭐⭐⭐⭐</h3>
        <p>In ciuda stigmei ce-si are originea in caracterul obscen al stilului narativ si al lipsei dezavarsite a dorintei de a dezvolta cultura cititorilor sai, volumul este, pentru mine, o carte extraordinara, care m-a ajutat
          deosebit de mult sa cunosc mai bine lumea din jurul meu si m-a ajutat sa imi construiesc un caracter mai puternic. Cartea pare la prima vedere o povestire spusa "la bere cu baietii", intinsa pe 500 de pagini, ceea ce, in
          esenta, si este. Tocmai aceasta paradigma ii permite sa elimina orice fel de prejudecata de natura elitista si sa prezinte o analiza a ideii de dragoste a unui om simplu, dar experimentat. In ceea ce priveste valoarea
          de divertisment, cartea are un succes izbitor, reusind sa impresioneze peste doua milioane de romani dintre care multi nefamiliarizati cu lectura, prin rasturnari de situatie si umoristica la un nivel inalt.</p>
      </div>
    </div>

    <div id="star4">
      <div class="recenzie">
        <img src="images/ombogat.jpg" alt="om bogat om sarac pic">
        <h1>Om bogat, om sarac</h1>
        <h2>Irwin Shaw</h2>
        <h3>⭐⭐⭐⭐</h3>
        <p>O carte pe aceasta lista tot datorita caracterului sau non-elitist. Scrisa in urma cu 50 de ani, "Om bogat, om sarac" reuseste cu un realism dezavarsit sa contureze un fir narativ de tip bildungsroman centrat pe o
          singura familie americana diversa, in care fiecare dintre cele 5 personaje fructifica cate o tipologie diferita tipica perioadei postbelice: elevul constiincios si ambitios, delicventul, fata cu moravuri usoare, fanatica
          si avarul dezinteresat si dur. Parcursul fiecarui personaj in desfasurarea ampla de 700 de pagini si cateva zeci de ani este veridica. Pe masura ce am citit-o am ajuns sa uit treptat ca parcurg un volum literar, avand
          mai degraba impresia ca imi este relatata o poveste de viata de catre un camarad.
        </p>

      </div>

      <div class="recenzie">
        <img src="images/got.jpg" alt="game of thrones pic">
        <h1>Urzeala tronurilor (vol 1)</h1>
        <h2>George R. R. Martin</h2>
        <h3>⭐⭐⭐⭐</h3>
        <p>Am citit cartea abia dupa ce am vizionat intreaga serie televizata si pot spune cu incredere ca nu am fost dezamagit. Desi evit sa parcurg acelasi continut sub forme diferite de expunere in conditii normale, la
          indemnul unui prieten m-am induplecat sa depun aparentul efortul de a parcurge cele 800 de pagini. Fructificarea detaliata a temelor politice ample pe care a realizat-o Martin m-a facut sa realizez ca timpul investit,
          desi destul de cantitativ, nu a fost deloc irosit. Volumul pierde totusi o stea din pricina tendintei autorului de a minimiza abilitatea de a rationa a unor personaje stabilite deja ca fiind deosebit de calculate pentru
          a duce firul narativ in directia dorita(ceea ce faciliteaza aparitia punctului culminant, de cotitura, dar este deosebit de neplauzibil).
        </p>

      </div>

      <div class="recenzie">
        <img src="images/magheru.jpg" alt="cazul magheru pic">
        <h1>Cazul Magheru</h1>
        <h2>Mihail Drumes</h2>
        <h3>⭐⭐⭐⭐</h3>
        <p>O incercare admirabila a lui Drumes de a iesi din sfera literara a tragismului amoros, care reuseste sa contureze un realism psihologic veritabil in aria misterului si a genului politist. Cartea pierde o stea din
          pricina vitezei inconsistente de derulare a firului narativ, care pe alocuri din pricina unui exces de portretizare interioara repetitiva si redundanta se transpune in monotonie (cel putin din viziunea unui cititor
          nerabdator ca mine).
        </p>
      </div>

      <div class="recenzie">
        <img src="images/amurg.jpg" alt="amurg pic">
        <h1>Amurg(vol 1, 2, 3, 4)</h1>
        <h2>Stephenie Meyer</h2>
        <h3>⭐⭐⭐⭐</h3>
        <p>Desi intalneste adesea o critica monumentala in randurile cititorilor de proza contemporana, franciza Amurg are si parti bune. Primul si ultimul volum catalizeaza cu un succes incontestabil, dar nu extraordinar
          esenta temelor dragostei si a familiei, reusind sa portretizeze un ideal al sacrificiului de sine. Ceea ce a defavorizat mult trilogia este esecul autoarei in obiectivul asumat de a invalui povestea intr-o forma
          accesibila tineretului autohton, imbinand supranaturalul si romanta intr-o maniera exagerata si, in special, siropoasa.
        </p>

      </div>

      <div class="recenzie">
        <img src="images/umbra.jpeg" alt="umbra vantului pic">
        <h1>Umbra vantului</h1>
        <h2>Carlos Ruis Zafon</h2>
        <h3>⭐⭐⭐⭐</h3>
        <p>Volumul pune in scena o aventura completa din punct de vedere stilistic si tematic, imbinand aspecte ale intregului spectru literar al vremii postbelice. Structurat in doua planuri narative, in care cel
          secundar este obiectul misterului, fiind dezvaluit de cel principal prin dezvaluiri treptate, produse de spiritul investivativ al trupei protagonistului, firul narativ reuseste sa impresioneze prin tehnica
          telenovelei: fiecare plot twist este mai puternic decat cel anterior. Unicul minus este caracterul previzibil al operei, cauzat tocmai de tendinta ei de a agita actiunea la fiecare ocazie: un cititor vigilent
          trebuie doar sa-si asume ca cea mai scandaloasa si evidenta posibilitate este cea ce urmeaza sa fie dezvaluita.</p>

      </div>

      <div class="recenzie">
        <img src="images/potter.jpeg" alt="harry potter pic">
        <h1>Harry Potter si Piatra Filozofala</h1>
        <h2>J. K. Rowling</h2>
        <h3>⭐⭐⭐⭐</h3>
        <p>O placere nevinovata a copilariei, dar care nu m-a impresionat mai departe de momentul lecturii, drept pentru care nu-mi amintesc suficiente despre ea cat pentru a realiza o recenzie satisfacatoare.</p>
      </div>

      <div class="recenzie">
        <img src="images/divergent.jpg" alt="divergent pic">
        <h1>Divergent</h1>
        <h2>Veronica Roth</h2>
        <h3>⭐⭐⭐⭐</h3>
        <p>Fir epic tipic adolescentin si primitiv, care impresioneaza prin abordarea unor teme complexe de natura psihologica, politica si sociala. Personajele sunt inspirationale, emanand hotarare si tarie
          de caracter, dar sunt invaluite in imaturitatea cliseica a adolescentei, de care volumul s-ar fi putut prea bine lipsi.</p>

      </div>

      <div class="recenzie">
        <img src="images/1q.jpg" alt="1q84 pic">
        <h1>1Q84 (vol 1, 2 si 3)</h1>
        <h2>Haruki Murakami</h2>
        <h3>⭐⭐⭐⭐</h3>
        <p>O opera care in mod cert nu iese in evidenta prin firul sau narativ, avand de fapt un progres epic mai degraba lent pe parcursul celor 3 volume, dar care reuseste sa inspire admiratie pentru
          personajele sale bine conturate in maniera realista, fiind caracterizate de o fermitate infrecventa in fata sinistrului inexplicabil de care sunt urmariti. Paranormalul este cufundat intr-un
          mister care ramane deschis inspre interpretarea receptorului chiar si la finalul trilogiei. In ochii mei din nou nerabdatori, opera pierde o stea din pricina derularii lente a continutului si repetitie
          la nivel de monolog interior.</p>
      </div>

      <div class="recenzie">
        <img src="images/kakashi.jpg" alt="naruto kakashi hiden pic">
        <h1>Naturo: Kakashi Hiden</h1>
        <h2>Masashi Kishimoto</h2>
        <h3>⭐⭐⭐⭐</h3>
        <p>O continuare la epica fascinanta de 720 de episoade din Naruto, pe care o recomand cu caldura oricarui fan al seriei originale.</p>

        <div class="recenzie">
          <img src="images/omuletul.jpg" alt="omuletul din perete pic">
          <h1>Omuletul din perete</h1>
          <h2>Marian Coman</h2>
          <h3>⭐⭐⭐⭐</h3>
          <p>Carte la care am fost chiar la lansare(poza din dreapta jos din prima rubrica a meniului principal), ideala pentru cei cei doresc o imbinare a bizarului incomprehensibil, din sfera horror-ului fantastic
            si familiaritatea sumbra a regimului comunist romanesc. Cartea este structurata in 3 serii de povestiri scurte interconectate, care in maniera ermetica si printr-un exercitiu ezoteric de imaginatie al autorului
            transmit ubicuitatea sentimentului de terorare in fata necunoscutului si al totalitarismului.</p>

        </div>

      </div>
    </div>
  </section>

  <section class = "preend">
    <h1>Unde sunt cele de 3, de 2 si de o stea?</h1>
    <p>Pe masura ce scriam recenziile si revizuiam lista de lecturi, am realizat ca la rubrica "Contemporane" nu am carti care sa fi coborat sub statutul de 4 stele. Si are si foarte mult sens de ce. Avand in vedere
      ca sunt scrise ca sa placa publicului, nu sa il transforme intr-unul mai inteligent, iar aceaste recenzii sunt evaluate strict sub auspiciul experientei mele(personale), nu as fi ales sa citesc o astfel de opera
      inca de la inceput daca nu estimam ca ma va incanta la nivel superficial.</p>
  </section>

  <section style = 'padding: 3 rem; background-color: #F7CCAC;' id = 'comentarii'>
    <h1 style="margin: 0;">Rubrica de comentarii</h1>
    <button type="button" name="button" id = 'addComment'>Apasa aici pentru a adauga un comentariu!</button>
  </section>

  <div class="surpriza" style = "text-align: center; background-color: orange; padding: 1em;">
    <h3>Apasati tasta '~' pe tastatura pentru o surpriza!</h3>
  </div>

  <footer >
    <p>Site făcut în întregime de Tudose Alexandru Ștefan, pentru proiectul de Tehnici Web.</p>
    <ul>
      <li>Parte 1(HTML+CSS): Start: 11 aprilie -> Finish: </li>
    </ul>
  </footer>
  <script type="text/javascript" src = "scriptIndex.js"></script>
</body>

</html>
