<!DOCTYPE html>
<html lang="ro" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Recenzii personale carti</title>

  <link rel="stylesheet" href="stylesindex.css">
  <link rel="icon" href="favicon.ico">

  <!--Fonturi-->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&family=Ubuntu:wght@300;400;700&display=swap" rel="stylesheet">
  <!--Pentru iconitele de la final-->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
  <header id="bun_venit">
    <img src="images/logo.png" alt="Logo Tudose">
    <nav class="meniu">
      <ul id="meniu">
        <li>
          <div><a href="index2.html">Meniu principal</a></div>
          <ul class="submeniu">
            <li> <a href="index2.html#bun_venit"> Bun venit </a></li>
            <li><a href="index2.html#despre_mine">Despre mine</a></li>
            <li><a href="index2.html#statistici">Statistici</a></li>
            <li><a href="index2.html#goodreads">Profil Goodreads</a></li>
            <li><a href="index2.html#contact">Contact</a></li>
          </ul>
        </li>
        <li>
          <div><a href="contemporane.html">Contemporana</a></div>
          <ul class="submeniu">
            <li><a href="contemporane.html#meniu">De ce?</a></li>
            <li><a href="contemporane.html#star5">5 stele</a></li>
            <li><a href="contemporane.html#star4">4 stele</a></li>
          </ul>
        </li>

        <li>
          <div><a href="clasice.html">*Clasica*</a></div>
          <ul class="submeniu">
            <li><a href="clasice.html#meniu">De ce?</a></li>
            <li><a href="clasice.html#star5">5 stele</a></li>
            <li><a href="clasice.html#star4">4 stele</a></li>
            <li><a href="clasice.html#star3">3 stele</a></li>
            <li><a href="clasice.html#star2">2 stele</a></li>
            <li><a href="clasice.html#star1">1 stea</a></li>
          </ul>
        </li>
        <li>
          <div>Non-Fictiune</div>
          <ul class="submeniu">
            <li>De ce?</li>
            <li>1 stea</li>
            <li>2 stele</li>
            <li>3 stele</li>
            <li>4 stele</li>
            <li>5 stele</li>
          </ul>
        </li>
        <li>
          <div><a href='http://localhost:8080/logout'>Delogare</a></div>
        </li>
      </ul>
    </nav>

    <h1>Bun venit la site-ul meu de recenzii!</h1>

    <img class="poza1head" src="images/cititlabuc.jpeg" alt="poza cu mine citind">
    <img class="poza2head" src="images/reader.jpeg" alt="poza certified reader">
    <img class="poza3head" src="images/lansare-nemira.jpg" alt="poza lansare carte nemira">
  </header>

  <section id="despre_mine">
    <h1>Despre mine</h1>
    <img src="images/profilfb.jpg" alt="poza profil facebook">
    <p>Mă numesc Tudose Alexandru-Stefan și sunt student în anul 1 la Informatică Unibuc. Deși nu pot spune
      că am fost vreodată un mare fan al activității de a lectura, încă de primii pași în sistemul academic
      i-am conștientizat foloasele în ceea ce presupune dezvoltarea intelectuală. În primăvara anului 2019,
      în ciuda unei lipse de trageri cronice în această privință, mi-am învins lenea și am început sa citesc
      mai serios, cu unicul scop de a-mi antrena gândirea, abilitatea de analiză și înțelegerea lumii în care
      mă aflu. O dată cu începerea facultății, când 100% din timpul meu liber a fost ocupat de informatică,
      am început să neglijez lectura. Alegerea acestei tematici pentru acest proiect are rolul de a-mi aminti
      propriul parcurs literar de până acum, în idealul de a mă determina să sacrific în viitorul apropiat mai
      mult timp pentru citit.</p>
  </section>


  <section id="statistici">
    <h1>Statistici lectura</h1>
    <h3>Pentru a oferi legitimitate recenziilor publicate pe site, am listat mai jos o serie de statistici care
      au rolul de a-mi sumariza parcursul de cititor de până acum.</h3>
    <h3>Click pe o imagine pentru a o mari!</h3>

    <div class="figuristatistici">


      <figure class="stat">
        <img src="images/statcarti.png" alt="nr carti citite pe an">
        <figcaption>Cărți citite pe an</figcaption>
      </figure>

      <figure class="stat">
        <img src="images/statpag.png" alt="nr pagini citite pe an">
        <figcaption>Pagini citite pe an</figcaption>
      </figure>

      <figure class="stat">
        <img src="images/statrating.png" alt="medie ratinguri date pe an">
        <figcaption>Media ratingurilor oferite, pe an</figcaption>
      </figure>
    </div>
  </section>

  <section id="goodreads">
    <h1>Profil Goodreads</h1>
    <a href="https://www.goodreads.com/user/show/100163695-stefan-tudose" target="_blank"> <img class="btngr" src="images/goodreads.png" alt="goodreads pic link"></a>
    <img class="sageata" src="images/sageataportal.png" alt="sageata catre portal">

  </section>

  <section id="contact">
    <h1>Contactează-ma!</h1>
    <h3>pentru o sesiune de dezbateri literare constructive</h3>

    <div class="end-icons-group">
      <a href="https://twitter.com/stefan_tudose5"><i class="end-icons fab fa-twitter"></i></a>
      <a href="https://www.facebook.com/stefan.tudose.12"><i class="end-icons fab fa-facebook-f"></i></a>
      <a href="mailto:joe@example.com?subject=feedback"><i class="end-icons fas fa-envelope"></i></a>
    </div>

  </section>


  <footer>
    <p>Site făcut în întregime de Tudose Alexandru Ștefan, pentru proiectul de Tehnici Web.</p>
    <ul>
      <li>Parte 1(HTML+CSS): Start: 11 aprilie -> Finish: 15 aprilie</li>
      <li>Parte 2 (JS+Node): Start: 25 mai -> Finish:</li>
    </ul>
  </footer>

</body>

</html>
